.header{
    width: 100%;
    grid-area: header;
    display: flex;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: #fff;
    border-bottom: 1px solid rgb(155, 151, 151);
  }

.header__search{
    margin: 0px 0px 0px 30px;
}

.search {
	width: 35%;
	position: relative;
}